APP_NAME=etl-service
APP_ENV=local
LOG_LEVEL=INFO

# PostgreSQL connection shown in your DB client.
POSTGRES_HOST=100.77.28.104
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=administrador
POSTGRES_PASSWORD=replace_with_real_password

# If your DW tables are in public, keep public.
# If you created schema "Data_Warehouse", use Data_Warehouse.
DW_SCHEMA=public
CONTROL_SCHEMA=Control
STAGING_SCHEMA=Staging

DEFAULT_BATCH_SIZE=1000

